{% extends "blog/base.html" %}
{% load static %}


{% block content %}

   <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'blog/sea_water.jpg' %}' )">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Welcome To Home Page</h1>
              <span class="subheading">Login or Sign Up To Continue.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

{% endblock content %}
